.title{
	height: 5em;
	text-align: center;
	padding:1em;
}

.main{
	height:30em;
}

.login{
	
	
}

.info{
	text-align: center;
	font-size: 2em;
	color: green;
}

.red_border{
	border: 1px solid red;
}

.green_border{
	border: 1px solid green;
}

.blue_border{
	border: 1px solid blue;
}