@import url ("./bootstrap.min.css");

.full{
	height:100vh;
	background-color: #F6F6F6;
}

.title{
	height: 5em;
	text-align: center;
	padding:1em;
	background-color: #96B97C;
	color:white;
	letter-spacing: 3px;
	font-size: 1em;
	font-weight: bold;
}

.main{
	height:50em;
	padding:0.2em 3em;
}

.cart_title, .store_title{
	font-size: 1em;
	font-weight: bold;
}

.item{
	height: 5em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	-webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
	box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
}

.item:hover{
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.56);
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.56);
}

.item .image{
	width:3em;
	height:3em;
	
}

.item .word{
	height: 4em;
	width: 80%;
	-webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
	box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
}

.item .operation{
	margin-left:0.5em;
	border-radius:0.3em;
	cursor: pointer;
	width: 2em;
	height: 2em;
	-webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
	box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
}

.item .operation:hover{
	width: 2em;
	height: 2em;
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.56);
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.56);
}


.cart{
	padding: 1em;
}


.cart .disp{
	height: 90%;
	width: 100%;
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
	box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
}

.itemInCart{
	height:4em;
	width:100%;
	display: flex;
	justify-content: space-between;
}

.itemInCart .image{
	height: 3em;
	width: 3em;
}

.itemInCart .qty{
	height: 3em;
	width: 3em;
	text-align: center;
	border-radius:1em;
	-webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
	box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
}

.itemInCart .control{
	height: 3em;
	width: 3em;
	diplay:flex;
	flex-direction: column;
}

.itemInCart .control .plusOne, .minusOne{
	cursor:pointer;
	-webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
	box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
	
}

.itemInCart .control .plusOne:hover, .minusOne:hover{
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.56);
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.56);
	
}

.itemInCart .del{
	cursor:pointer;
	height: 3em;
	width: 3em;
	-webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
	box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
}
.itemInCart .del:hover{
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.56);
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.56);

}

.itemInCart .move{
	cursor:pointer;
	height: 3em;
	width: 3em;
		-webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
	box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
}
.itemInCart .move:hover{
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.56);
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.56);
}

.storageList{
	padding: 1em;
	-webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
	box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.56);
}

.red_border{
	border: 1px solid red;
}

.green_border{
	border: 1px solid green;
}

.blue_border{
	border: 1px solid blue;
}