.title{
	height: 5em;
	text-align: center;
	padding:1em;
}

.list{
	height: 60em;
}

.item{
	height: 5em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.item .image{
	width:3em;
	height:3em;
	
}

.item .word{
	height: 4em;
	width: 80%;
}

.item .qty{
	height: 3em;
	width: 3em;
	border: 1px solid blue;
}

.red_border{
	border: 1px solid red;
}

.green_border{
	border: 1px solid green;
}